<!-- PAGINA CONTATO -->
<div class="contato_sup">
    <img class="logo_unilins" src="/img/logotipo_UNILINS_CU.png" alt="">
    <div class="contatos">
        <div class="contato_sec">
            <a href="https://api.whatsapp.com/send?phone=551435333298">
                <p class="num">Secretaria: Telefone e Contado</p>
                <p class="num">(14) 3533-3298</p>
            </a>
        </div>
        <div class="contato_sec">
            <a href="https://api.whatsapp.com/send?phone=551435333229">
                <p class="num">Comercial: Telefone e Contado</p>
                <p class="num">(14) 3533-3229</p>
            </a>
        </div>
        <div class="contato_sec">
            <p>Email:</p> 
            <p class="email_contato">atendimento@unilins.edu.br</p>
        </div>
    </div>
</div>
<div class="separadora"></div>
<div class="contato_inf">
    <div class="buttons_contato">
        <a href="https://www.facebook.com/unilinsoficial"><button class="button_redes">f</button></a>
        <a href="https://www.instagram.com/unilinsoficial/"><button class="button_redes"><img class="insta" src="/img/icon-insta.svg" alt=""></button></a>
        <a href="https://www.youtube.com/user/TvUnilins"><button class="button_redes"><img class="yout" src="/img/icon-youtube.svg" alt=""></button></a>
        <a href="https://br.linkedin.com/school/centro-universitário-de-lins"><button class="button_redes"><p class="in">in</p></button></a>
    </div>
    <div class="endereco">
        <p>UNILINS – Centro Universitário de Lins • Todos os direitos reservados.</p>
        <p>Av. Nicolau Zarvos, 1925 – Jardim Aeroporto – CEP 16401-371 – Lins, São Paulo.</p>
    </div>
    <img class="logo_fundacao" src="/img/FundacaoPaulista.png" alt="">
</div>