<!-- PAGINA 1 -->
    <div class="fundo_1">
        <!-- TITULO -->
        <div class="titulo">Sua porta de entrada para o mercado de trabalho</div>
        <!-- TEXTO -->
        <div class="texto">O Oportunize.me é a plataforma de vagas de emprego e estágio desenvolvida </div>
        <div class="texto1">para estudantes da Unilins! Desenvolvida por alunos da gradução, a plataforma conecta você à principais oportunidades da região
        </div>
        <p class="texto1">Encontre a vaga perfeita para você:</p>
        <div class="itens">
            <div class="esquerda">
                <div class="x"><div class="item"></div>Explore diversas oportunidades nas empresas da região;</div>
                <div class="x"><div class="item"></div>Filtre vagas por curso, área de interesse;</div>
                <div class="x"><div class="item"></div>Receba alertas para as vagas de seu interesse;</div>
                <div class="x"><div class="item"></div>Crie um perfil profissional com suas habilidades;</div>
                <div class="x"><div class="item"></div>Candidate-se a vagas com facilidade e rapidez.</div>
            </div>
        </div>
        <div class="titulo2">Oportunize.me: O futuro começa aqui!</div>
        <!-- BLOCO DE LOGIN -->
            <div class="login_cadastro_pagina">
            <!-- BOTAO DE CADASTRO -->
            <div class="separador_button">
                <a href="/usuarios/registro">
                    <button class="cadastro">
                        <p>Ainda não é cadastrado?</p>
                        <p class="cadastre_se_agora">Cadastre-se agora</p>
                    </button>
                </a>
            </div>
            <div class="separador_button">
                <a href="/empresas/registro">
                    <button class="cadastro">
                        <p>É uma empresa?</p>
                        <p class="cadastre_se_agora">Cadastre sua Empresa aqui</p>
                    </button>
                </a>
            </div>
        </div>
    </div>



<!-- PAGINA 2 -->
    <div class="fundo_2">
        <div class="title">
            <p class="vaga_seletor">Encontre a vaga ideal para você</p>
        </div>
        <!-- os botoes devem levar para a pagina vagas com o filtro ja aplicado -->
        <div class="vagas_buttons">
            <a href="/vagas"><button class="vertodas">Ver Todas</button></a>
        </div>
        
    </div>




<!-- FUNDO DE TRANSISAO -->
    <div class="fundo_2_3"></div>

<!-- PAGINA 3 -->
    <div class="fundo_3">
        <div class="title"><p>Anuncie sua vaga conosco</p></div>
        <div class="vagas_buttons2">
            <a href="/empresas/registro"><button class="abrir_vaga">Anuncie uma vaga</button></a>
        </div>
    </div>

<!-- IMAGENS -->
    <img class="imagensfront_icon" alt="" src="img/front.png">
    <div class="img/ellipse-div"></div>